@model WhatsUp2.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.EmailAddress)
    <br />
    @Html.TextBoxFor(m => m.EmailAddress)
    @Html.ValidationMessageFor(m => m.EmailAddress)
    <br /><br />

    @Html.LabelFor(m => m.Password)
    <br />
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    <br /><br />
    <input type="submit" value="Login"/>
}